:root {
	--piece-size: 8rem;
	--piece-border-size: .15rem;
	--piece-border-color: rgb(55 65 81);
}

@keyframes search {
	0% {
	  box-shadow: inset #030712 0 0 4rem 10rem;
	}
	15% {
	  box-shadow: inset #030712 0 0 4rem 5rem;
	}
	100% {
	  box-shadow: inset #030712 0 0 4rem 5.5rem;
	}
  }
  
  @keyframes blurcycle {
	0% {
	  /* filter: blur(.25px); */
	}
	100% {
	  /* filter: blur(1px); */
	}
  }

.jigsaw-text {
	display: inline-block;
	width: calc(100% - 18rem);
	vertical-align: top;
}

.jigsaw {
	display: inline-block;
	width: 17rem;
	text-align: right;
	margin-left: 1rem;
	vertical-align: top;
	transform: rotate(-3deg);
}

@media only screen and (max-width: 768px) {
	.jigsaw-text {
		width: calc(100% - 2rem);
	}

	.jigsaw {
		position: relative;
		margin-left: -15rem;
		z-index: -1;
		opacity: 0.5;
		filter: blur(1px);
	}
}

@media only screen and (max-width: 640px) {
	.jigsaw {
		margin-top: 1rem;
	}
}

.piece {
	fill: transparent;
	stroke-width: .4rem;
	opacity: 0;
}

.jigsaw.show .piece {
	left: 0;
	opacity: 1;
	transition-duration: 300ms;
	stroke: rgb(75 85 99);
	filter: drop-shadow(2px 2px 2px rgba(137, 127, 255, 0.2));
}

.jigsaw .piece-1 {
	animation: piece-cycle 4800ms linear 0s infinite;
}

.jigsaw .piece-2 {
	animation: piece-cycle 4800ms linear 1200ms infinite;
	transition-delay: 200ms;
}

.jigsaw .piece-3 {
	animation: piece-cycle 4800ms linear 2400ms infinite;
	transition-delay: 400ms;
}

.jigsaw .piece-4 {
	animation: piece-cycle 4800ms linear 3600ms infinite;
	transition-delay: 600ms;
}

@keyframes piece-cycle {
	0% {
		stroke: rgb(75 85 99);
	}

	30% {
		stroke: rgb(55 65 81);
	}

	60% {
		stroke: rgb(31 41 55);
	}

	90% {
		stroke: rgb(17 24 39);
	}

	100% {
		stroke: rgb(75 85 99);
	}
}

.section-header-3d {
	vertical-align: middle;
	display: inline-block;
	width: 30rem;
	transition: 0s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
	opacity: 0;
}

.section-header-3d,
.section-header-3d canvas {
	height: 260px;
}

.section-header-3d.show {
	transition: 600ms;
	transition-delay: 200ms;
	opacity: 1;
}

h2 {
	letter-spacing: -1px;
}

.project-section {
	max-width: 90rem;
	margin: 0 auto 5rem auto;
	padding: 5rem 1.25rem;
}

#electronics-text {
	vertical-align: middle;
	display: inline-block;
	width: calc(100% - 30rem);
	text-align: right;
}

.project-set {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.project-item {
	flex-shrink: 0;
	width: 40rem;
	background: rgb(17 24 39);
	border-radius: 0.5rem;
	margin: 10rem 1rem 0 1rem;
	transition: 300ms;
	position: relative;
}

.project-item .project-lights {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
}

.project-item .project-lights div {
	width: 0px;
	transition: 200ms;
}

.project-item:hover .project-lights div {
	opacity: 1;
}

.project-item .grey-light {
	opacity: 0.8;
}

.project-item .gold-light {
	opacity: 0;
}

.project-item-sub {
	width: 100%;
	padding: 2rem;
	display: inline-flex;
	border-radius: 0.5rem;
	justify-content: space-between;
	position: relative;
}

.project-image {
	width: 15rem;
	height: 15rem;
	background-size: cover;
	background-position: center;
	flex-shrink: 0;
	border-radius: 0.5rem;
	margin-top: -4rem;
	margin-left: 1rem;
	box-shadow: transparent -6rem 2rem 8.6rem -5.7rem;
	transition: 200ms;
}

.project-title {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.project-specs {
	font-weight: 500;
	margin-bottom: .5rem;
	letter-spacing: .3px;
}

.project-for::after {
	content: ' • ';
	opacity: .5;
}

.project-extract {
	letter-spacing: .5px;
}

.expand-projects {
	height: 6rem;
	width: 6rem;
	background-color: rgb(17 24 39);
	font-size: 2rem;
	line-height: 6rem;
	padding: 0;
	border: 0;
	border-radius: .5rem;
	margin: 10rem 18rem 0 18rem;
	transition: 300ms;
}

.expand-projects:hover {
	background-color: rgb(31 41 55);
}